<script>
	import { stores } from "@sapper/app"
	import StickyFooterLayout from "../components/StickyFooterLayout.svelte"
	import Tailwind from "../components/Tailwind.svelte"
	import Footer from "../../content/Footer.svelte"

	const { page, session } = stores()

	let node

	$: navbarVars = {
		navbarTextColor: "#edf2f7",
		navbarHoverColor: "white",
	}

	$: config = $session.config
	$: if (config && config.navbar) {
		if (config.navbar.textColor) {
			navbarVars.navbarTextColor = config.navbar.textColor
		}
		if (config.navbar.hoverColor) {
			navbarVars.navbarHoverColor = config.navbar.hoverColor
		}
	}
	$: path = $page.path.replace(/\/+$/, "")
	$: currentPageConfig = config.pages.find((page) => path.slice(1) === page.slug)
	$: currentPageSlug = (currentPageConfig ? currentPageConfig.slug : null) || "."
	$: menuItems = config.pages
		.filter((page) => Boolean(page.navbarTitle))
		.map((page) => ({
			slug: page.slug || ".",
			title: page.navbarTitle,
		}))
	$: pageTitle = currentPageConfig ? currentPageConfig.navbarTitle || currentPageConfig.title : null
	$: websiteTitle = config.title ? config.title : "Vitrine"

	function displayModal() {
		var modal = document.getElementById("modal-499")
		modal.className += " fr-modal--opened"
	}

	function closeModal() {
		var modal = document.getElementById("modal-499")
		modal.className = modal.className.replace(" fr-modal--opened", "")
	}

</script>

<svelte:head>
	<title>{pageTitle ? `${pageTitle} | ` : ''} {websiteTitle}</title>
</svelte:head>

<Tailwind />

<StickyFooterLayout>
	<div slot="header">
		<header class="fr-header">
			<div class="fr-header__body">
				<div class="fr-container">
					<div class="fr-header__body-row">
						<div class="fr-header__brand fr-enlarge-link">
							<div class="fr-header__brand-top">
								<div class="fr-header__logo">
									<p class="fr-logo">
										Ministère de<br />
										la transition<br />
										écologique et<br />
										de la cohésion<br />
										des territoires
									</p>
								</div>
								<div class="fr-header__navbar">
									<a
										class="fr-btn fr-btn--secondary"
										href="https://forum.challenge.gd4h.ecologie.gouv.fr"
										rel="noreferrer"
										target="_blank"
										style="max-width:200px">Forum<span class="sr-only"> ouverture d'une nouvelle fenêtre</span></a>
									<button
										class="fr-btn--menu fr-btn"
										data-fr-opened="false"
										aria-controls="modal-mobile-menu"
										aria-haspopup="menu"
										title="Ouvrir le menu"
										id="fr-btn-menu-mobile"
										data-fr-js-modal-button="true"
										on:click={() => displayModal()}>
										Ouvrir le menu
									</button>
								</div>
							</div>
							<div class="fr-header__service">
								<a href="/" title="Accueil - Data Challenge - Ministère">
									<p class="fr-header__service-title">Challenge Green Data for Health</p>
								</a>
								<p class="fr-header__service-tagline" />
							</div>
						</div>
						<div class="fr-header__tools">
							<div class="fr-header__tools-links">
								<a
									class="fr-btn fr-btn--secondary"
									href="https://forum.challenge.gd4h.ecologie.gouv.fr"
									rel="noreferrer"
									target="_blank">Forum<span class="sr-only"> ouverture d'une nouvelle fenêtre</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fr-header__menu fr-modal" id="modal-499" data-fr-js-modal="true" data-fr-js-header-modal="true">
				<div class="fr-container">
					<button
						class="fr-btn--close fr-btn"
						aria-controls="modal-499"
						title="Fermer le menu de navigation"
						data-fr-js-modal-button="true"
						on:click={() => closeModal()}>Fermer</button>
					<nav class="fr-nav" id="navigation-494" aria-label="Menu principal" data-fr-js-navigation="true">
						<ul class="fr-nav__list">
							<li class="fr-nav__item">
								<a
									class="fr-nav__link"
									href="."
									target="_self"
									{...currentPageSlug === '.' ? { 'aria-current': 'page' } : {}}>
									{'Accueil'}
								</a>
							</li>
							{#each menuItems as { slug, title }}
								<li class="fr-nav__item">
									<a
										class="fr-nav__link"
										href={slug}
										target="_self"
										{...currentPageSlug === slug ? { 'aria-current': 'page' } : {}}>
										{title}
									</a>
								</li>
							{/each}
						</ul>
					</nav>
				</div>
			</div>
		</header>
	</div>

	<div slot="content" bind:this={node}>
		<slot />
	</div>

	<div slot="footer">
		<Footer />
	</div>
</StickyFooterLayout>

<style lang="postcss">
	.navbar-text {
		color: var(--navbarTextColor);
	}

	.navbar-border {
		border-color: var(--navbarTextColor);
	}

	.navbar-text:hover {
		color: var(--navbarHoverColor);
	}

	.navbar-border:hover {
		border-color: var(--navbarHoverColor);
	}

</style>
