<script>
	import { faComment } from "@fortawesome/free-solid-svg-icons/faComment"
	import { faHeart } from "@fortawesome/free-solid-svg-icons/faHeart"
	import { faStar } from "@fortawesome/free-solid-svg-icons/faStar"
	import { faCodeBranch } from "@fortawesome/free-solid-svg-icons/faCodeBranch"
	import { faQuestionCircle } from "@fortawesome/free-solid-svg-icons/faQuestionCircle"
	import { faExternalLinkAlt } from "@fortawesome/free-solid-svg-icons/faExternalLinkAlt"
	import Icon from "fa-svelte"

	import FormattedHtml from "./FormattedHtml.svelte"

	export let html = null
	export let imageUrl = null
	export let text = null
	export let title
	export let url = null
	export let extra = false
	export let featuredLink = null
	export let featuredLinkRootDomain = null
	export let tags = null

	let disableBlur = false
	let disableReadMore = false

	const availableIcons = ["favorite", "reply", "star", "fork"]
	const iconToFa = {
		favorite: faHeart,
		reply: faComment,
		star: faStar,
		fork: faCodeBranch,
		default: faQuestionCircle,
	}

	function faOfIcon(icon) {
		if (availableIcons.includes(icon)) {
			return iconToFa[icon]
		} else {
			return iconToFa["default"]
		}
	}

	if (extra) {
		if (extra.disableBlur) {
			disableBlur = true
		}
		if (extra.disableReadMore) {
			disableReadMore = true
		}
	}

	let topic_number = url.match(/\d/g)
	let href = `${extra.intermediatePage}${topic_number.slice(1, topic_number.length).join("")}`

</script>

<div class="fr-col fr-col-md-3">
	<div class="fr-card fr-enlarge-link">
		<div class="fr-card__body">
			<div class="fr-card__content">
				<h3 class="fr-card__title" style="padding:0px">
					<a {href} onclick="window.location.href='{href}'" style="padding:0px" test="yo">{title}</a>
				</h3>
				<p class="fr-card__desc">
					{#if featuredLink && featuredLinkRootDomain}
						<div class="pb-2">
							<a href={featuredLink} rel="noreferrer" target="_blank">
								<Icon class="ml-4 mr-2" icon={faExternalLinkAlt} />{featuredLinkRootDomain}
							</a>
						</div>
					{/if}
					{#if html || text}
						{#if html}
							<FormattedHtml {html} />
						{:else if text}{text}{/if}
					{/if}
				</p>
				<div class="fr-card__start">
					<ul class="fr-tags-group">
						{#each tags as tag}
							{#if tag.startsWith('ag-')}
								<li>
									<p class="fr-tag">{tag.substring(3)}</p>
								</li>
							{/if}
						{/each}
					</ul>
				</div>
			</div>
		</div>
		{#if imageUrl}
			<div class="fr-card__header">
				<div class="fr-card__img">
					<img class="fr-responsive-img" src={imageUrl} alt="illustration {title}" data-fr-js-ratio="true" />
					<!-- L’alternative de l’image (attribut alt) doit toujours être présente, sa valeur peut-être vide (image n’apportant pas de sens supplémentaire au contexte) ou non (porteuse de texte ou apportant du sens) selon votre contexte -->
				</div>
				<ul class="fr-badges-group">
					{#each tags as tag}
						{#if tag.startsWith('me-')}
							<li>
								<p class="fr-badge fr-badge--green-emeraude">{tag.substring(3)}</p>
							</li>
						{/if}
					{/each}
				</ul>
			</div>
		{/if}
	</div>
</div>
