<script>
	export let html
	//export let title
	export let url
	export let isQuery
	export let raw
	export let text
	export let backgroundColor

	import ZoneButton from "./ZoneButton.svelte"
	import FormattedHtml from "./FormattedHtml.svelte"
	import Cookies from "js-cookie"

	let buttonReturn
	let buttonForum
	if (isQuery) {
		html = html
		buttonForum = { title: "Accéder au forum", url: url, openTab: true }
		buttonReturn = { title: "Retour", url: "https://challenge.gd4h.ecologie.gouv.fr/defis" }
	}

	let youtubeId = html.match(/data-youtube-id="([^"]+)"/)
	let youtubeTitle = html.match(/data-youtube-title="([^"]+)"/)

	var youtube_consent = Cookies.get("consent-youtube")

	if (youtubeId && youtubeTitle) {
		youtubeId = youtubeId[1]
		youtubeTitle = youtubeTitle[1]
		let old_embed_regex = /<div class="onebox lazyYT lazyYT-container"([\s\S]*?)<\/div>/

		let replacement = ""
		if (youtube_consent == "true") {
			replacement =
				'<div class="fr-responsive-vid"><iframe title="' +
				youtubeTitle +
				'" class="fr-responsive-vid__player" src="https://www.youtube-nocookie.com/embed/' +
				youtubeId +
				'"" allowfullscreen=""></iframe></div>'
		} else {
			replacement = `<div class="fr-content-media fr-content-media--sm">
				<div class="fr-responsive-vid">
					<div class="fr-consent-placeholder">
						<p class="fr-h6">Youtube est désactivé</p>
						<p>Autorisez le dépôt de cookies depuis Youtube pour accèder à cette fonctionnalité.</p>
						<button class="fr-btn" onclick='handleAcceptYoutubeCookies(true)'> Autoriser les cookies Youtube </button>
					</div>
				</div>
			</div>`
		}
		html = html.replace(old_embed_regex, replacement)
	}
</script>

<div style={backgroundColor ? `background-color: ${backgroundColor}` : null} class="rounded">
	{#if text}
		{text}
	{:else if html}
		{#if raw}
			{@html html}
		{:else}
			<FormattedHtml {html} />
		{/if}
	{/if}
	<br />
	<div style="display: flex; flex-direction: row; justify-content: space-between;">
		{#if isQuery}
			<ZoneButton {...buttonReturn} />
		{/if}
		{#if isQuery}
			<ZoneButton {...buttonForum} />
		{/if}
	</div>
</div>
