<script>
	export let callToActionButton
	export let data
	export let banner
	export let subtitle
	export let title
	export let filterTags
	export let zones

	import Zones from "./Zones.svelte"

	let selectedFilters = []
	let tags = []
	let sortedTags = []
	let prefixMap = {}

	let filteredData = JSON.parse(JSON.stringify(data))

	function getAllTags(data) {
		let allTags = []
		data.forEach((prop) => {
			if (prop.sourceRenderType === "cards") {
				prop.data.forEach((card) => {
					allTags = [...allTags, ...card.tags]
				})
			}
		})
		return [...new Set(allTags)].sort()
	}

	function sortTagsByPrefix(filterTags, tags) {
		let sortedTags = {}
		let prefixMap = {}

		// Iterate over each filterTag in the filterTags array
		filterTags.forEach((filterTag) => {
			const prefix = filterTag[0]
			const tagDescription = filterTag[1]

			// Create a new array for the sorted tags with the current prefix
			sortedTags[prefix] = []
			prefixMap[prefix] = tagDescription

			// Iterate over each tag in the tags array and add it to the sortedTags array if it starts with the current prefix
			tags.forEach((tag) => {
				if (tag.startsWith(prefix)) {
					sortedTags[prefix].push(tag)
				}
			})
		})

		return [sortedTags, prefixMap]
	}

	if (filterTags) {
		tags = getAllTags(filteredData)
		let results = sortTagsByPrefix(filterTags, tags)
		sortedTags = results[0]
		prefixMap = results[1]
	}

	function handleFilterChange(event, tagPrefix) {
		selectedFilters = selectedFilters.filter((tag) => !tag.startsWith(tagPrefix))

		filteredData = JSON.parse(JSON.stringify(data))

		if (event.target.value !== "none") {
			selectedFilters.push(event.target.value)
		}

		filteredData = filteredData.map((prop) => {
			if (prop.sourceRenderType === "cards") {
				return {
					...prop,
					data: prop.data.filter((card) => {
						// Check if any of the selected filters are included in the card's tags
						return selectedFilters.every((filter) => card.tags.includes(filter))
					}),
				}
			}
			return prop
		})
	}

	const containerClasses = "container mx-auto p-8"

</script>

{#if banner && banner.url}<img class={banner.classes || 'w-1/4 mx-auto my-8'} alt="banner" src={banner.url} />{/if}
{#if title}
	<div class={containerClasses}>
		<slot name="title">
			<h1
				class="my-8 text-center text-3xl w-full"
				style="color: #161616; font-size: 32px; line-height: 38px; font-family: Marianne,arial,sans-serif;; margin-bottom:12px;">
				{title}
			</h1>
		</slot>
	</div>
{/if}
{#if tags}
	<br />
	<div class="fr-container">
		<div class="fr-grid-row fr-grid-row--gutters">
			{#each Object.keys(sortedTags) as tagPrefix}
				<div class="fr-col">
					<div class="fr-select-group">
						<label class="fr-label" for="filter-tags"> Filtrer par {prefixMap[tagPrefix]} </label>
						<select
							class="fr-select"
							id="filter-tags-{prefixMap[tagPrefix]}"
							name="filter-tags-{prefixMap[tagPrefix]}"
							on:input={(event) => handleFilterChange(event, tagPrefix)}>
							<option value="none">Aucun</option>
							{#each sortedTags[tagPrefix] as tag}
								<option value={tag}>{tag.substring(tagPrefix.length)}</option>
							{/each}
						</select>
					</div>
				</div>
			{/each}
		</div>
	</div>
{/if}
{#if !title}<br /><br />{/if}
{#if subtitle || callToActionButton}
	<div class="fr-container text-center">
		{#if subtitle}
			<div style="font-family: Marianne,arial,sans-serif;; margin-bottom: 24px;">{subtitle}</div>
		{/if}
		{#if callToActionButton && callToActionButton.url && callToActionButton.title}
			<div class="mt-8 mb-16">
				<a class="fr-btn" href={callToActionButton.url} rel="noreferrer" target="_blank">{callToActionButton.title}</a>
			</div>
			<div>
				<hr class="my-5" />
			</div>
		{/if}
	</div>
{/if}

{#key filteredData}
	{#if zones}
		<Zones {zones} {filteredData} {containerClasses} />
	{/if}
{/key}
