<script>
	export let title
	export let pageSlug = null
	export let url = null
	export let openTab = false

	import { stores } from "@sapper/app"
	import { getPageUrl } from "../url"
	const { session } = stores()

	$: config = $session.config
	$: href = pageSlug ? getPageUrl(config.basePath, pageSlug) : url
</script>

<div class="flex justify-center"><a class="fr-btn" {href} target={openTab ? '_blank' : '_self'}>{title}</a></div>
